@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100vh;
  background-color: rgb(249 250 251);
}

.mask {
  -webkit-mask-image: url('./img/x-direct-group-logo-300x260.png');
  mask-image: url('./img/x-direct-group-logo-300x260.png');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
